.svgWrapper {
  display: inline-flex;
  font-size: 21px;
  font-weight: 400;
  vertical-align: middle;
  align-items: center;
  color: inherit;
  img,
  svg {
    color: inherit;
    height: auto;
    margin: 0;
    vertical-align: middle;
  }

  path {
    fill: var(--color);
  }
}
