.menu {
  padding-top: 20px;
}

.menuItem {
  padding: 8px 18px;
  margin-right: 8px;
  font-size: 13px;
  font-weight: 400;
  &:hover {
    background-color: rgb(225, 225, 225);
  }
  a {
    display: block;
  }

  .label {
    margin-left: 6px;
    vertical-align: middle;
  }
}
