:root {
  --color: var(--main-color);
}

.active {
  --color: var(--main-active-color);
  color: var(--color);
}

a {
  color: var(--color);
  display: block;
  cursor: default;
}

.label {
  color: var(--color);
  margin-left: 6px;
  vertical-align: middle;
}
